@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: aliceblue;
  color: #2B2A29;
}
.universal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.universal_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fixed_width {
  width: 100%;
  max-width: 1300px;
}

.top_bg_nav {
  --p: 30px;
  height: 50px;
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 100%,calc(100% - var(--p)) 100%,100% 0,0 0);
}
@media (max-width: 768px) {
  .category_btn {
    display: none;
  }
}
@media (max-width: 620) {
  .top_nav_bar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  background-color: #ffce1b7d;
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background-color: #2B2A29;
  border-radius: 8px;
  border: 1px solid #FFCE1B;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.2);
}

.ftr_h1 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.ftr_p {
  font-size: 12px;
  font-weight: 400;
  color: #a6a6a6;
}

.ftr_span span {
  transition: 0.3s all ease;
}
.ftr_span span:hover {
  color: #a6a6a6;
}

.hero_top {
  transition: 0.3s all ease;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero_top:hover {
  color: #a6a6a6;
}

.pro_p_b_s_B{
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: #2B2A29;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.taka {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}