@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: aliceblue;
  color: #2B2A29;
}
.universal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.universal_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fixed_width {
  width: 100%;
  max-width: 1300px;
}

.top_bg_nav {
  --p: 30px;
  height: 50px;
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 100%,calc(100% - var(--p)) 100%,100% 0,0 0);
}
@media (max-width: 768px) {
  .category_btn {
    display: none;
  }
}
@media (max-width: 620) {
  .top_nav_bar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #FFCE1B;
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb {
  background-color: #2B2A29;
  border-radius: 8px;
  border: 1px solid #FFCE1B;
  box-shadow: inset 0 0 2px rgba(255,255,255,0.2);
}