@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
  color: #2b2a29;
}
.universal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.universal_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fixed_width {
  width: 100%;
  max-width: 1300px;
}

.top_bg_nav {
  --p: 30px;
  height: 40px;
  aspect-ratio: 3/2;
  clip-path: polygon(var(--p) 100%, calc(100% - var(--p)) 100%, 100% 0, 0 0);
}

@media (max-width: 200) {
  .top_nav_bar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
  background-color: #ffce1b7d;
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: #2b2a29;
  border-radius: 8px;
  border: 1px solid #ffce1b;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  outline: none;
}

.ftr_h1 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.ftr_p {
  font-size: 12px;
  font-weight: 400;
  color: #a6a6a6;
  text-align: center;
}

.ftr_span span {
  transition: 0.3s all ease;
}
.ftr_span span:hover {
  color: #a6a6a6;
}

.hero_top {
  transition: 0.3s all ease;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero_top:hover {
  color: #a6a6a6;
}

.pro_p_b_s_B {
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #e7e7e7;
  color: #2b2a29;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}
.taka {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.taka_1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* buy now button */
.buy_btn {
  padding: 5px 20px;
  background-color: #2b2a29;
  width: fit-content;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.3s all ease;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
}
.buy_btn:hover {
  background-color: #590000;
}
.buy_btn .shop_btn_icon {
  transform: translateX(50px);
  width: 1px;
  height: 1px;
  opacity: 0;
  transition: 0.3s all ease;
}
.buy_btn:hover .shop_btn_icon {
  transform: translateX(0);
  opacity: 1;
  width: 15px;
  height: 15px;
}
/* add to cart button */
.add_to_cart_btn {
  font-size: 14px;
  padding: 4px 12px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #f3f4f6;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
  box-shadow:
    inset 10px 10px 10px -1px #0000002f,
    inset -10px -10px 10px -1px #0000002f;
}

.add_to_cart_btn:hover {
  background-color: #d1d5db;
}

.add_to_cart_btn .shop_btn_icon {
  transform: translateX(50px);
  width: 1px;
  height: 1px;
  opacity: 0;
  transition: 0.3s all ease;
}
.add_to_cart_btn:hover .shop_btn_icon {
  transform: translateX(0);
  opacity: 1;
  width: 15px;
  height: 15px;
}
.cart_fix_tab {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateX(50px);
  transition:
    max-width 0.5s ease,
    opacity 0.5s ease,
    transform 0.8s ease;
  white-space: nowrap;
}

.cart_fix_tab_hover:hover .cart_fix_tab {
  max-width: 120px;
  opacity: 1;
  transform: translateX(0);
}
.features_category {
  border: 1px solid #c3c3c36f;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffffff;
  min-height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    background-color 0.3s ease,
    filter 0.3s ease;
}
.features_category:hover {
  background-color: #e1e1e1;
  box-shadow:
    0 14px 30px rgba(0, 0, 0, 0.18),
    0 4px 10px rgba(0, 0, 0, 0.12);
  filter: brightness(1.02);
}
.features_icon {
  font-size: 28px;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}
.features_category:hover .features_icon {
  transform: scale(1.2);
}
.features_p {
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 15px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0px;
  text-transform: capitalize;
}
.req_hash {
  font-size: 16px;
  color: red;
}
.checkout_inp {
  width: 100%;
  border: 1px solid #a6a6a6;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;
}

.i_agree {
  color: #2b2a29;
  font-size: 14px;
  font-weight: 400;
}
.i_agree a {
  color: #931905;
  font-weight: 500;
  transition: all 0.3s ease;
}
.i_agree a:hover {
  text-decoration: underline;
}

.offer_count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  width: fit-content;
  padding: 0px 5px;
  height: 20px;
  background-color: #000000;
  color: white;
  font-weight: 500;
  border-radius: 3px;
}

.universal_nav_logo {
  font-weight: 700;
  text-transform: uppercase;
  color: #971900;
  font-size: 22px;
  letter-spacing: 0px;
}
.cart_btn {
  z-index: 999;
  color: #000000;
  background-color: #971900;
  transition: all 0.3s ease;
}

@keyframes floatUp {
  0% {
    transform: translateY(8px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-8px);
    opacity: 0.4;
  }
}

.scroll-float {
  animation: floatUp 2s ease-in-out infinite;
}

.points {
  border: #a6a6a63f 1px solid;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  background-color: #f0f0f0;

  /* Air state */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  transition:
    box-shadow 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    background-color 0.3s ease,
    filter 0.3s ease;
}

.points:hover {
  background-color: #e6e6e6;

  /* Floating illusion */
  box-shadow:
    0 14px 30px rgba(0, 0, 0, 0.18),
    0 4px 10px rgba(0, 0, 0, 0.12);
  filter: brightness(1.02);
}

.point_icon {
  font-size: 32px;
  color: #971900;
  border: 1px solid #9719002f;
  border-radius: 100%;
  padding: 4px;
}
.point_h1 {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  width: fit-content;
}
.point_p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: fit-content;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shine text effect */
.shine-text {
  position: relative;
  color: #971900;
  display: inline-block;
}

/* moving white shine INSIDE text only */
.shine-text::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  color: transparent;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(0, 0, 0, 0.9) 45%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.9) 55%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-position: -100% 0;
  -webkit-background-clip: text;
  background-clip: text;
  animation: textShine 3.5s linear infinite;
  pointer-events: none;
}

@keyframes textShine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes supportHint {
  0% {
    opacity: 0;
    transform: translateX(10px) scale(0.6);
  }
  20% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  80% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(10px) scale(0.6);
  }
}

.animate-supportHint {
  animation: supportHint 2s ease-in-out forwards;
}
.footer_mbl {
  z-index: 999999;
}
.mbl_mnu_itm {
  width: 45px;
  height: 45px;
  box-shadow:
    10px 10px 10px -1px #0000002f,
    -10px -10px 10px -1px #0000002f;
  transition: all 0.3s ease;
}
.mbl_mnu_itm:hover {
  transition: all 0.3s ease;
  box-shadow:
    inset 10px 10px 10px -1px #0000002f,
    inset -10px -10px 10px -1px #0000002f;
}
